<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home/style.css">
    <script src="../static/home/script.js"></script>
    <title>Respawn-Zone</title>
</head>

<body>
    <header class="topbar">
        <div class="logo">
            <img id="logo" src="../static/img/logo.png">
        </div>
        <div class="search-box">
            <input id="placeholder" type="text" placeholder="Pesquisar...">
            <button>🔍</button>
        </div>
        <div class="nav-right">
            <a id="caixalogin" href="#"><b>Login</b></a>
        </div>
        </div>
    </header>
    <header>
        <nav class="categories-bar">
            <div class="cat-container">

                <a href="#" class="cat-link destaque">OFERTAS</a>
                <a href="#" class="cat-link">PC</a>
                <a href="#" class="cat-link">PLAYSTATION</a>
                <a href="#" class="cat-link">XBOX</a>
                <a href="#" class="cat-link">CATÁLOGO</a>

                <div class="dropdown">
                    <a href="#" class="cat-link">CATEGORIAS ▾</a>
                    <div class="dropdown-content">
                        <a href="#">AÇÃO</a>
                        <a href="#">AVENTURA</a>
                        <a href="#">RPG</a>
                        <a href="#">ESTRATÉGIA</a>
                    </div>
                </div>

            </div>
        </nav>
        <section class="main-banner">
            <div class="banner-content">
                <div class="banner-item">
                    <div class="container">
                        <div class="banner-text">
                            <span class="badge">DESTAQUE DA SEMANA</span>
                            <h1>ELDEN RING: SHADOW OF THE ERDTREE</h1>
                            <p>Garanta sua expansão oficial com entrega imediata e o melhor preço do mercado.</p>
                            <div class="banner-actions">
                                <a href="#" class="btn-primary">COMPRAR AGORA</a>
                                <a href="#" class="btn-secondary">VER DETALHES</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="banner-dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </section>
    </header>
    <!-- CONTEÚDO PRINCIPAL (JOGOS) -->
    <main>
        <section class="jogos">
            <div class="card-jogo">
                <img src="../static/img/gtav.png" alt="Gta V">
                <h2>GTA V</h2>
                <P class="preco">R$ 79,90</P>
                <div class="sinopse-container">
                    <p class="sinopse">
                        Grand Theft Auto V acompanha a história de três criminosos com vidas bem diferentes
                        em Los Santos.
                        Michael (um ex-assaltante rico), Franklin (um jovem em busca de grana) e Trevor (um psicopata
                        imprevisível) se unem.
                        Juntos, eles planejam e executam uma série de grandes e perigosos assaltos para garantir a
                        própria
                        sobrevivência.
                        O jogo mistura ação intensa, um vasto mundo aberto para explorar e uma forte crítica à sociedade
                        moderna.
                    </p>
                </div>
                <span class="ver-mais" onclick="openView(this)">Ver mais</span>
                <button>Comprar</button>
            </div>
            <div class="card-jogo">
                <img src="../static/img/MWIII_Capa.png" alt="Call of Duty MW3">
                <h2>Call of Duty</h2>
                <p class="preco">R$ 199,90</p>
                <div class="sinopse-container">
                    <p class="sinopse">
                        Modern Warfare 3 acompanha a Força-Tarefa 141 na caçada implacável contra o terrorista Vladimir
                        Makarov.
                        O capitão Price e sua equipe lutam para impedir uma Terceira Guerra Mundial que ameaça consumir
                        o
                        planeta.
                        O jogo entrega uma campanha intensa com batalhas urbanas e missões de combate aberto muito mais
                        dinâmicas.
                        É o desfecho explosivo de uma das sagas mais icônicas e cheias de ação do mundo dos jogos de
                        tiro.
                    </p>
                </div>
                <span class="ver-mais" onclick="openView(this)">Ver mais</span>
                <button class="bt">Comprar</button>
            </div>
            <div class="card-jogo">
                <img src="../static/img/minecrafcapa.jpg" alt="Minecraf">
                <h2>Minecraft</h2>
                <p class="preco"> R$ 74,99 </p>
                <div class="sinopse-container">
                    <p class="sinopse">
                        Minecraft é um jogo de mundo aberto onde tudo é feito de blocos que podem ser
                        quebrados e reconstruídos.
                        Sem regras fixas, você pode explorar cenários infinitos, coletar recursos e criar ferramentas
                        para
                        sobreviver.
                        O foco do jogo varia entre erguer construções grandiosas e enfrentar criaturas perigosas que
                        surgem
                        à noite.
                        No fim das contas, o verdadeiro objetivo é usar a criatividade para moldar o próprio universo.
                    </p>
                </div>
                <span class="ver-mais" onclick="openView(this)">Ver mais</span>
                <button>Comprar</button>
            </div>
            <div class="card-jogo">
                <span class="desconto">-17%</span>
                <img src="../static/img/Crimson Desert.jpg" alt="Crimson Desert">
                <h2>Crimson Desert</h2>
                <p class="preco">
                    <span style="text-decoration: line-through; color: gray;">R$ 299,90</span>
                    R$ 249,90
                </p>
                <div class="sinopse-container">
                    <p class="sinopse">
                        Durante um ataque brutal dos Ursos Negros, Kliff perde seus camaradas Grisalhos, sua família em
                        tudo, exceto no nome.
                        Em meio à turbulência que domina o continente de Pywel, ele parte em busca dos sobreviventes
                        dispersos, para
                        reconstruir os caídos Grisalhos e reconquistar a terra natal que um dia chamaram de sua.
                    </p>
                </div>
                <span class="ver-mais" onclick="openView(this)">Ver mais</span>
                <button>Comprar</button>
            </div>
            <div class="card-jogo">
                <span class="desconto">-20%</span>
                <img src="../static/img/Resident Evil Requiem.jpg" alt="Resident Evil Requiem">
                <h2>Resident Evil Requiem</h2>
                <p class="preco">
                    <span style="text-decoration: line-through; color: gray;">R$ 249,90</span>
                    R$ 199,90
                </p>
                <div class="sinopse-container">
                    <p class="sinopse">
                        Resident Evil Réquiem é o nono título da série principal de Resident Evil.
                        Prepare-se para escapar da morte em uma experiência de tirar o fôlego que irá arrepiar você até
                        o
                        âmago.
                        Avanços tecnológicos combinados com a vasta experiência da equipe de desenvolvimento se unem em
                        uma
                        história
                        com personagens ricos e uma jogabilidade mais imersiva do que nunca.
                    </p>
                </div>
                <span class="ver-mais" onclick="openView(this)">Ver mais</span>
                <button>Comprar</button>
            </div>
            <div class="card-jogo">
                <span class="desconto">-15%</span>
                <img src="../static/img/Death Stranding.jpg" alt="Death Stranding 2">
                <h2>Death Stranding 2</h2>
                <p class="preco">
                    <span style="text-decoration: line-through; color: gray;">R$ 299,90</span>
                    R$ 254,90
                </p>
                <div class="sinopse-container">
                    <p class="sinopse">
                        Do lendário criador de jogos Hideo Kojima vem uma evolução carregada de emoção desta experiência
                        que
                        desafia
                        gêneros. Ao trazer este título para o PC, a KOJIMA PRODUCTIONS trabalhou com a Nixxes Software
                        para
                        entregar a
                        versão definitiva do lançamento aclamado pela crítica nos consoles.
                    </p>
                </div>
                <span class="ver-mais" onclick="openView(this)">Ver mais</span>
                <button>Comprar</button>
            </div>
        </section>
        <footer class="footer-keys">
            <div class="footer-top">
                <div class="footer-box">
                    <h4>INSTITUCIONAL</h4>
                    <a href="#">Quem Somos</a>
                    <a href="#">Termos de Uso</a>
                    <a href="#">Privacidade</a>
                </div>
                <div class="footer-box">
                    <h4>AJUDA</h4>
                    <a href="#">Suporte</a>
                    <a href="#">Como Ativar</a>
                </div>
                <div class="footer-box">
                    <h4>SIGA-NOS</h4>
                    <div class="social-row">
                        <a href="#" class="social-icon">Instagram</a>
                        <a href="#" class="social-icon">Discord</a>
                    </div>
                </div>
            </div>
            <div class="footer-badges">
                <div class="badge-container">
                    <div class="payment-icons">
                        <p>PAGUE COM:</p>
                        <div class="mini-card">PIX</div>
                        <div class="mini-card">CARTÃO DE CRÉDITO</div>
                        <div class="mini-card">CARTÃO DE DÉBITO</div>
                    </div>
                    <div class="security-icons">
                        <p>SEGURANÇA:</p>
                        <div class="secure-badge">🔒 SSL SECURE</div>
                    </div>
                </div>
            </div>
            <div class="footer-copy">
                <p>© 2026 Respawn-Zone - Todos os direitos reservados.</p>
            </div>
        </footer>
</body>

</html>