<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="/static/js/script_home.js"></script>
    <title>Respawn-Zone</title>
</head>
<div id="container-topo"></div>
<main class="produto-container">
    <div class="produto-box">
        <div class="produto-imagem">
            <img src="{{ jogo.img }}" alt="{{ jogo.name }}">
        </div>
        <div class="produto-info">
            <h1>{{ jogo.nome }}</h1>
            {% if jogo.precod != jogo.preco %}
            <p class="preco">
                <span style="text-decoration: line-through; color: gray;">R$ {{ jogo.preco }}</span>
                R$ {{ jogo.precod }}
            </p>
            {% else %}
            <p class="preco">R$ {{ jogo.preco }}</p>
            {% endif %}
            <p class="descricao-produto">{{ jogo.desc }}</p>
            <button class="btn-finalizar">
                Adicionar ao Carrinho
            </button>
        </div>
    </div>
</main>
<div id="container-footer"></div>
<script>
    fetch("/static/home/header.html").then(response => response.text()).then(data => {
        document.getElementById("container-topo").innerHTML = data;
        ativarPesquisa();
    });
    fetch("/static/home/cards.html").then(response => response.text()).then(data => {
        document.getElementById("container-cards").innerHTML = data;
        ativarPesquisa();
    });

    fetch("/static/home/footer.html").then(response => response.text()).then(data => {
        document.getElementById("container-footer").innerHTML = data;
    });

    document.getElementById("nome").innerHTML = localStorage.getItem("nomeJogo");
    document.getElementById("preco").innerHTML = localStorage.getItem("precoJogo");
    document.getElementById("img").src = localStorage.getItem("imagemJogo");
    document.getElementById("desc").innerHTML = localStorage.getItem("descricaoJogo");
</script>
</body>

</html>