<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home/style.css">
   <script src="../static/home/jogos.js" defer></script>
    <title>Respawn-Zone</title>
</head>

<h1>
    <div id="container-topo"></div>

<script>
     fetch("topo.html")
.then(response => response.text())
.then(data => {
    document.getElementById("container-topo").innerHTML = data;

    ativarPesquisa(); // 🔥 ESSENCIAL
});
</script>

<main class="produto-container">
    
    <div class="produto-box">

        <div class="produto-imagem">
            <img id="img">
        </div>

        <div class="produto-info">
            <h1 id="nome"></h1>
          <p id="preco" class="preco"></p>
          <p id="desc" class="descricao-produto"></p>
            <button class="btn-finalizar">
                Finalizar Compra
            </button>
        </div>

    </div>

</main>
              <div id="container-footer"></div>

<script>
    fetch("cards.html")
    .then(response => response.text())
    .then(data => {
        document.getElementById("container-cards").innerHTML = data;

         ativarPesquisa();
    });

    fetch("footer.html")
    .then(response => response.text())
    .then(data => {
        document.getElementById("container-footer").innerHTML = data;
    });

</script>
</body>

</html>