<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/home.css">
     <script src="/static/js/script_home.js"></script>
    <title>Quem Somos</title>
</head>

<body>
    <div id="container-topo"></div>
   <main class="pagina-info">
    <div class="info-box">
        <h1>Quem Somos</h1>
        <p>
            A <strong>Respawn Zone</strong> nasceu com o objetivo de oferecer jogos digitais com rapidez,
            segurança e preços acessíveis para jogadores de todas as plataformas.
        </p>
        <p>
            Trabalhamos com chaves originais para PC, PlayStation e Xbox,
            garantindo entrega imediata após a compra.
        </p>
        <p>
            Nosso foco é proporcionar uma experiência simples, confiável e acessível
            para gamers apaixonados.
        </p>
        <div class="info-destaque">
            <div class="item">
                <h3>⚡ Entrega Rápida</h3>
                <p>Receba seu jogo imediatamente após a compra.</p>
            </div>

            <div class="item">
                <h3>🔒 Segurança</h3>
                <p>Chaves originais e compras protegidas.</p>
            </div>
            <div class="item">
                <h3>🎮 Variedade</h3>
                <p>Jogos para todas as plataformas.</p>
            </div>
        </div>

    </div>
</main>
    </main>
    <div id="container-footer"></div>
    <script>
        fetch("/static/home/header.html").then(response => response.text()).then(data => {
        document.getElementById("container-topo").innerHTML = data;
        ativarPesquisa();
        carregaUsuario();
    });

    fetch("/static/home/footer.html").then(response => response.text()).then(data => {
        document.getElementById("container-footer").innerHTML = data;
    });
    </script>
</body>

</html>