<header class="topbar">

    <!-- LOGO -->
    <div class="logo">
        <a href="home.html">
            <img id="logo" src="../static/img/logo.png">
        </a>
    </div>

    <!-- PESQUISA -->
    <div class="search-box">
        <input 
            id="placeholder" 
            type="text" 
            placeholder="Pesquisar..."
            onclick="if(!window.location.pathname.includes('home.html')) window.location.href='home.html'"
        >
        <button onclick="if(!window.location.pathname.includes('home.html')) window.location.href='home.html'">🔍</button>
    </div>

    <!-- LOGIN -->
    <a class="login-btn" href="#">
    Login
</a>

</header>

<!-- MENU CATEGORIAS -->
<nav class="categories-bar">
    <div class="cat-container">

        <a href="#" class="cat-link destaque"
onclick="filtrarOfertas()">
OFERTAS
</a>
       <a href="#" class="cat-link"
onclick="filtrarPlataforma('pc')">
PC
</a>
       <a href="#" class="cat-link"
onclick="filtrarPlataforma('playstation')">
PLAYSTATION
</a>
        <a href="#" class="cat-link"
onclick="filtrarPlataforma('xbox')">
XBOX
</a>
<a href="#" class="cat-link"
onclick="mostrarTodos()">
CATÁLOGO
</a>
        <div class="dropdown">
            <a href="#" class="cat-link">CATEGORIAS ▾</a>
            <div class="dropdown-content">
               <a href="#"
onclick="filtrarCategoria('acao')">
AÇÃO
</a>
              <a href="#"
onclick="filtrarCategoria('aventura')">
AVENTURA
</a>
               <a href="#"
onclick="filtrarCategoria('rpg')">
RPG
</a>
                <a href="#"
onclick="filtrarCategoria('estrategia')">
ESTRATÉGIA
</a>

            </div>
        </div>

    </div>
</nav>