<header class="topbar">
        <div class="logo">
            <img id="logo" src="../static/img/logo.png">
        </div>
        <div class="search-box">
            <input id="placeholder" type="text" placeholder="Pesquisar...">
            <button>🔍</button>
        </div>
        <div class="nav-right">
            <a id="caixalogin" href="#"><b>Login</b></a>
        </div>
        </div>
    </header>
    <header>
        <nav class="categories-bar">
            <div class="cat-container">

                <a href="#" class="cat-link destaque">OFERTAS</a>
                <a href="#" class="cat-link">PC</a>
                <a href="#" class="cat-link">PLAYSTATION</a>
                <a href="#" class="cat-link">XBOX</a>
                <a href="#" class="cat-link">CATÁLOGO</a>

                <div class="dropdown">
                    <a href="#" class="cat-link">CATEGORIAS ▾</a>
                    <div class="dropdown-content">
                        <a href="#">AÇÃO</a>
                        <a href="#">AVENTURA</a>
                        <a href="#">RPG</a>
                        <a href="#">ESTRATÉGIA</a>
                    </div>
                </div>

            </div>
        </nav>
        </header>