<header class="topbar">

    <!-- LOGO -->
    <div class="logo">
        <a href="home.html">
            <img id="logo" src="../static/img/logo.png">
        </a>
    </div>

    <!-- PESQUISA -->
    <div class="search-box">
        <input 
            id="placeholder" 
            type="text" 
            placeholder="Pesquisar..."
            onclick="if(!window.location.pathname.includes('home.html')) window.location.href='home.html'"
        >
        <button onclick="if(!window.location.pathname.includes('home.html')) window.location.href='home.html'">🔍</button>
    </div>

    <!-- LOGIN -->
    <a class="login-btn" href="#">
    Login
</a>

</header>

<!-- MENU CATEGORIAS -->
<nav class="categories-bar">
    <div class="cat-container">

        <a href="#" class="cat-link destaque">OFERTAS</a>
        <a href="#" class="cat-link">PC</a>
        <a href="#" class="cat-link">PLAYSTATION</a>
        <a href="#" class="cat-link">XBOX</a>
        <a href="#" class="cat-link">CATÁLOGO</a>

        <div class="dropdown">
            <a href="#" class="cat-link">CATEGORIAS ▾</a>
            <div class="dropdown-content">
                <a href="#">AÇÃO</a>
                <a href="#">AVENTURA</a>
                <a href="#">RPG</a>
                <a href="#">ESTRATÉGIA</a>
            </div>
        </div>

    </div>
</nav>